<!DOCTYPE HTML>
<html>
	<head>
		<title>Hackers World</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/commons.css" />
        <link rel="stylesheet" href="/css/error.css" />
        <link rel="stylesheet" href="/css/settings.css" />


	</head>
	<body>
							<div class="signin">

                                <div class="content">
                        
                                    <h2>Attacking <span>Username1</span></h2>
                        
                                    <div class="form">
                        
                                        <div class="inputBox">
                    
                                            <i>Credit Amount</i>
                                            <input type="text" required> 
                        
                                        </div>
                                        <div class="alert-warning">
                                            <p>Credit Amount wrong message</p>
                                        </div>

                                        <div class="inputBox">
                        
                                            <input type="submit" value="Hack Credits">
                        
                                        </div>
                        
                                    </div>
                        
                                </div>
                        
                            </div>
						</div>
					

	</body>
</html>