<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/commons.css" />
	</head>
	<body>

	<th:block th:insert="fragments/menu :: menu"></th:block>


			<div id="main">
						<div class="container-large">
							<header>
								<div id="profile-details">
                                    <h1 id="title">Available Credits:<p th:text="${user.credits}">50</p></h1>
                                    <h1 id="title">Current Defense:<p th:text="${user.defense?.username ?: 'None'}">Username1</p></h1>
                                </div>
							</header>
                            <p class="insuff-credits" th:if="${error}" th:text="${error}">Not enough credits!</p>
                            <a href="/rank-up">Rank Up</a>
						</div>
                        
					</div>

	</body>
</html>