<!DOCTYPE HTML>
<html>
	<head>
		<title>Hackers World</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/commons.css" />
	</head>
	<body>

		<!-- Header -->
			<div id="header">
					<!-- Logo -->
						<div id="profile-details">
							<span class="image avatar48"><img src="images/default-avatar.png" alt="" /></span>
							<h1 id="title">Username</h1>
							<p>Rank</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="hack-on.html">Hack On</a></li>
								<li><a href="credits.html">Credits</a></li>
								<li><a href="history.html">History</a></li>
								<li><a href="settings.html">Settings</a></li>
								<li><a href="scoreboard.html">Scoreboard</a></li>
								<li><a href="index.html">Logout</a></li>
							</ul>
						</nav>
			</div>


			<div id="main">
						<div class="container">
							<header>
								<div id="profile-details">
                                    <span class="image avatar48"><img src="images/default-avatar.png" alt="" /></span>
                                    <h1 id="title">Username</h1>
                                    <p>Rank</p>
                                </div>
                                <div class="action-buttons">
                                    <h2><a href="attack.html">Attack</a></h2>
                                    <h2><a href="">Defend</a></h2>
                                </div>
							</header>
						</div>
                        <div class="container">
							<header>
								<div id="profile-details">
                                    <span class="image avatar48"><img src="images/default-avatar.png" alt="" /></span>
                                    <h1 id="title">Username</h1>
                                    <p>Rank</p>
                                </div>
                                <div class="action-buttons">
                                    <h2><a href="attack.html">Attack</a></h2>
                                    <h2><a href="">Defend</a></h2>
                                </div>
							</header>
						</div>
                        <div class="container">
							<header>
								<div id="profile-details">
                                    <span class="image avatar48"><img src="images/default-avatar.png" alt="" /></span>
                                    <h1 id="title">Username</h1>
                                    <p>Rank</p>
                                </div>
                                <div class="action-buttons">
                                    <h2><a href="attack.html">Attack</a></h2>
                                    <h2><a href="">Defend</a></h2>
                                </div>
							</header>
						</div>
                        
					</section>
					</div>

	</body>
</html>