<!DOCTYPE HTML>
<html>
	<head>
		<title>Hackers World</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/commons.css" />
	</head>
	<body>

	<th:block th:insert="fragments/menu :: menu"></th:block>


    <div id="main">
        <div th:each="currentUser : ${allUsersExceptMe}" class="container">
            <header>
                <div id="profile-details">
                <span class="image avatar48">
                    <img th:src="${#strings.isEmpty(currentUser.profilePicture) ? 'images/default-avatar.png' : currentUser.profilePicture}" alt="Profile Picture"/>
                </span>
                    <h1 id="title" th:text="${currentUser.username}">Username</h1>
                    <p th:text="'Rank: ' + ${currentUser.userRank}">Rank</p>
                </div>
                <div class="action-buttons">
                    <h2><a th:href="@{'/hack/' + ${currentUser.id}}">Attack</a></h2>
                    <h2><a th:href="@{'/defend/' + ${currentUser.id}}">Defend</a></h2>
                </div>
            </header>
        </div>
    </div>


    </body>
</html>