<!DOCTYPE HTML>
<html>
	<head>
		<title>Hackers World</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/commons.css" />
	</head>
	<body>

	<th:block th:insert="fragments/menu :: menu"></th:block>



	<div id="main">
		<div class="container">
			<header>
				<div th:each="hack : ${hacks}" class="history-entry">
					<h2 th:if="${hack.attacker.id == user.id}"
						th:text="'You attacked ' + ${hack.defender.username} + ' and '
                    + (${hack.status == T(app.hack.model.HackStatus).Defended} ? 'they defended!'
                    : ('stole ' + ${hack.credits} + ' credits!'))">
					</h2>

					<h2 th:if="${hack.defender.id == user.id}"
						th:text="${hack.status == T(app.hack.model.HackStatus).Defended}
        ? ${hack.attacker.username} + ' attacked you, but you defended!'
        : ${hack.attacker.username} + ' attacked you and stole ' + ${hack.credits} + ' credits!'">
					</h2>
				</div>
			</header>
		</div>
	</div>

	</body>
</html>