<!DOCTYPE HTML>
<html>
	<head>
		<title>Hackers World</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/commons.css" />
        <link rel="stylesheet" href="/css/error.css" />
        <link rel="stylesheet" href="/css/settings.css" />


	</head>
	<body></body>
							<div class="signin">

                                <div class="content">
                        
                                    <h2>Settings</h2>
                        
                                    <div class="form">
                        
                                        <div class="inputBox">
                    
                                            <i>Avatar</i>
                                            <input type="text" required> 
                        
                                        </div>
                                        <div class="alert-warning">
                                            <p>Avatar wrong message</p>
                                        </div>


                                        <div class="inputBox">
                    
                                            <i>E-mail</i>
                                            <input type="text" required> 
                        
                                        </div>
                                        <div class="alert-warning">
                                            <p>Email wrong message</p>
                                        </div>
                        
                                        <div class="inputBox">
                    
                                            <i>Username</i>
                                            <input type="text" required>
                        
                                        </div>
                                        <div class="alert-warning">
                                            <p>Username wrong message</p>
                                        </div>
                        
                        
                                        <div class="inputBox">
                        
                                            <input type="submit" value="Submit Changes">
                        
                                        </div>
                        
                                    </div>
                        
                                </div>
                        
                            </div>
						</div>
					

	</body>
</html>